@font-face {
  font-family: 'IBMPlexSans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../node_modules/@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Bold.woff2") format("woff2"),
    url("../node_modules/@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'IBMPlexMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../node_modules/@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2") format("woff2"),
    url("../node_modules/@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Regular.woff") format("woff");
}

:root {
  --font-monospace: 'IBMPlexMono', monospace;
  --font-sans: 'IBMPlexSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
