@import './fonts/fonts.scss';
@import './colors/colors.scss';
@import './hero/hero.scss';
@import './resume/resume.scss';
@import './resume/print.scss';

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: calc(100vh - 74px);
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

p {
  font-size: 19px;
  line-height: 30px;
  margin: 10px 0 30px;
  font-family: var(--font-monospace);
}

h1,
h2,
h3 {
  font-family: var(--font-sans);
  color: var(--color-heading);
}

a {
  color: var(--color-link);
  text-decoration: none;
  position: relative;
  transition: background-color 0.25s ease-out;

  &::after {
    content: '';
    transform: translateZ(1px);
    z-index: 1;
    width: calc(100% + 8px);
    height: calc(100% + 2px);
    top: -1px;
    left: -4px;
    mix-blend-mode: darken;
    position: absolute;
    display: block;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 0.25s;
  }

  &:hover::after {
    transition: background-color 0s;
    background-color: var(--color-link-background);
  }
}

@media (prefers-color-scheme: dark) {
  a::after {
    mix-blend-mode: color;
  }
}
