.hero {
  max-width: 900px;
  margin: 37px auto 37px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    max-width: 69%;
  }

  &-heading {
    font-size: 76px;
    line-height: 80px;
    margin: 3px 0 6px -3px;
  }

  &-avatar {
    max-width: 155px;
    border-radius: 50%;
    max-height: 155px;
  }

  &-footer {
    border-top: 1px solid var(--color-line);
    padding-top: 29px;
  }

  &-icons {
    display: flex;
    align-items: center;
  }

  &-icon {
    fill: var(--color-icon);
    width: 20px;
    display: block;
    font-size: 0;
    margin-right: 25px;
    transition: fill 0.25s ease-out;
    background-size: contain;

    &:last-child {
      margin-right: 0;
    }
  }

  a.hero-icon:hover {
    fill: var(--color-icon-hover);
    transition: fill 0s;

    &::after {
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 900px) {
  .hero {
    &-heading {
      font-size: calc(7vw + 14px);
      line-height: calc(7.4vw + 14px);
      margin: 0 0 calc(0.5vw + 14px);
    }

    &-content {
      max-width: unset;
    }

    &-header {
      flex-direction: column-reverse;
    }

    &-avatar {
      max-width: 150px;
      max-height: 150px;
      margin: -4px 0 8px;
    }
  }
}

@media screen and (max-width: 521px) {
  .hero-heading {
    font-size: 55px;
    margin: -3px 0 -1px -2px;
    line-height: 60px;
  }
}

@media screen and (max-width: 460px) {
  .hero {
    &-heading {
      font-size: 35px;
      margin: -1px 0 10px -1px;
      line-height: 41px;
    }

    &-avatar {
      max-width: 100px;
      max-height: 100px;
      margin: -4px 0 13px;
    }
  }
}
